@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-roboto-mono);
  --color-primary: var(--primary);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1f4b43;
}

body {
  @apply bg-background text-foreground;
}
